<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
    <title>Booking</title>
</head>
<body>
    <h1 th:text="${eventName}"></h1>
    <h1 th:text="${date}"></h1>
    <table style="width: 100%">
        <tr>
            <th>Belegt:</th>
        </tr>
        <tr th:each="appointment : ${appointments}">
           <td th:text="${appointment.toString()}"></td>
        </tr>
    </table>
    <form th:action="${'http://localhost:8080/newAppointment?eventId=' + eventId + '&amp;date=' + date}" th:object="${formBacker}"  method="post">
        <p th:text="${'Dauer: ' + duration + ' Stunden'}"></p>
        <p>Startzeit:</p>
        <input type="time" th:field="*{timeString}"></input>
        <br></br>
        <input type="submit" value="Buchen"></input>
    </form>
</body>
</html>